.container-fluid{
    /*background-color: rebeccapurple;*/
    width: 100%;
    height: 100%;
}
@media (min-width: 350px) {
    .col-md-1{
        width: 750px;
    }
}
@media (min-width: 1200px) {
    .col-md-1{
        margin-top: 10px;
        width: 150px;
        height: 30px;
    }
    .col-md-2{
        margin-top: 10px;
        width: 150px;
        height: 30px;
    }
}
@media (width: 1680px) {
    .col-md-1{
        margin-top: 10px;
        width: 140px;
        height: 30px;
    }
}
@media (width: 1600px) {
    .col-md-1{
        margin-top: 10px;
        width: 140px;
        height: 30px;
    }
}
@media screen and (min-width: 1400px  ) and (max-width: 1440px  ) {
    .col-md-1{
        margin-top: 10px;
        width: 110px;
        height: 30px;
        background-color: #00c1de;
    }

}
@media (width: 1366px) {
    .col-md-1{
        margin-top: 10px;
        width: 105px;
        height: 30px;
    }
    #div-row1{
        height: 25%;
    }

}